h1
{
    background-color: rgb(255, 212, 212);
    font-family: cursive;
    color: rgb(0, 117, 10);
    width: 100;
}
h2
{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white
}
img
{
float: right;
position: relative;
top: 0;
right: 0;

}
body
{
    background: grey;
}
h4
{
    color: brown;
    background-color: aquamarine
}
ul
{
    flex-direction: row;
    justify-content: space-between;
}