html{
    margin: 0px auto;
/*    centers everything*/
    background-color: #CCC;
}

body{
    margin: 0px auto;
    width: 40%;
    /* width: 65%; */
    /* width: 1235px; */
    background-color: #FFF;
}

/*
header{
    position: sticky;
    top: 0;
}
*/

.navbar{
    height: 67px;
    background: black;
    display: flex;
}

#lgo{
    height: 60px;
    width: 60px;
    border-color: black;
    border-style: solid;
    /* position: fixed; */
    /* top: 0; */
}

ul{
    /* IMPORTANT */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 20px 40px;
}

a{
    text-decoration: none;
    font-size: 22px;
    padding: 0px 20px;
    color: #FFF;
}

li a:hover{
    color: greenyellow;
}

/* Navigation ends here */

.col1, .col2{
    display: flex;
    justify-content: center;
}

.col1 img{
    height: 80px;
    width: 80px;
}

.col2 img{
    height: 80px;
    width: 80px;
}

/* Browser logos end here */

#pic1{
    float: left;
}

#par1{
    /* padding-left: 30px; */
}

/*
h3{
    clear: both;
}
*/

#par2{
    clear: left;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
}

#pic2{
    
    float: right;
}



footer{
    background-color: #FFB3B3;
    clear: both;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0px;
    padding: 10px;
    border-top-style: solid;
    border-top-color: blue;
}

footer img{
    padding: 15px 25px;
}